# Django Core
Django==4.2.25
asgiref==3.10.0
sqlparse==0.5.3
pytz==2025.2

# Django Extensions
django-cors-headers==4.9.0
django-extensions==3.2.3

# Django REST Framework
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

# API Documentation
drf-yasg==1.21.11
uritemplate==4.2.0
inflection==0.5.1

# Database
psycopg2-binary==2.9.10
dj-database-url==2.1.0

# JWT
PyJWT==2.10.1

# Production Server
gunicorn==23.0.0

# Testing
pytest==8.4.2
pytest-django==4.11.1

# Utilities
packaging==24.0